<ion-pane>

  <ion-header-bar>
    <button ui-sref="top.timer" class="button button-icon icon ion-chevron-left"></button>
    <div class="title">Settings</div>
  </ion-header-bar>

  <ion-content>

  <ul class="list item-text-wrap">

<!--
    ## settings that need to be upgraded for

    * Auto switch between day and night
    * Enable geolocation on each checkin
    * Select format style for coordinates (D.dd, D M.mm, D M S.ss)
    * Change alert noise
    * Change siren noise
    * Change night mode colour (red, blue, ...)
    * Change times for pulsing etc
    * Change themes (timer dark on white, white on dark)
    * Prevent device going to sleep
    * Connect to another device to mirror screen (iBeacon perhaps?)
 -->

    <!-- <li class="item">
      <div class="button-bar">
        <a ng-class="{active: isDay}"   ng-click="setDay(true);" class="button">Day</a>
        <a ng-class="{active: isNight}" ng-click="setDay(false);" class="button">Night</a>
      </div>
    </li> -->

    <!-- <li class="item range">
      <i class="icon ion-ios-sunny"></i>
      <input type="range" name="brightness">
      <i class="icon ion-ios-sunny-outline"></i>
    </li> -->

    <!-- <li class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume"  min="0" max="100" ng-model="volume">
      <i class="icon ion-volume-high"></i>
    </li> -->


    <!-- <li class="item item-complex">
      <div class="item-content item-toggle">
       <label class="toggle toggle-assertive">
         <input type="checkbox" ng-model="cowbell" >
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
       Cowbell
      </div>
      <div class="item-content">
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
      </div>
    </li>

    <li class="item item-toggle">
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
       Cowbell
    </li> -->





  </ul>

  </ion-content>

</ion-pane>
