<ion-pane>
  <ion-content scroll="false">
    <div>

      <div
        id="timer-current-time"
        on-tap="timer.start()"
        on-hold="timer.stop()"
        on-swipe-up="timer.increment()"
        on-swipe-down="timer.decrement()"
      >
        <span
          resize-text-to-fill
          ng-cloak
        >
          {{ timer.getFormattedTime() }}
        </span>
      </div>

    </div>
  </ion-content>

  <ion-footer-bar>
    <button ng-click="timer.increment()" class="button button-icon icon ion-plus"></button>
    <button ng-click="timer.decrement()" class="button button-icon  icon ion-minus"></button>
    <div class="title">
      <button ng-click="timer.toggle()" ng-class="timer.isRunning ? 'ion-stop' : 'ion-play'" class="button button-icon icon"></button>
    </div>
    <button ui-sref="settings" class="button button-icon icon ion-gear-b"></button>
  </ion-footer-bar>

</ion-pane>
