<ion-pane>
  <ion-content
    scroll="false"
    ng-class="'timer-state-' + timer.current_state"
    on-tap="start_timer()"
    on-hold="stop_timer()"
    on-swipe-up="increment_timer()"
    on-swipe-down="decrement_timer()"
  >

    <div id="timer-current-time">
      <span
        resize-text-to-fill
        ng-cloak
      >
        {{ timer.time_to_display() | hhmmss }}
      </span>
    </div>

  </ion-content>

  <ion-footer-bar>
    <button ng-click="increment_timer()" class="button button-icon icon ion-plus"></button>
    <button ng-click="decrement_timer()" class="button button-icon  icon ion-minus"></button>
    <div class="title">
      <button ng-click="toggle_timer()" ng-class="timer.isRunning ? 'ion-stop' : 'ion-play'" class="button button-icon icon"></button>
    </div>
    <button ui-sref="settings" class="button button-icon icon ion-gear-b"></button>
  </ion-footer-bar>

</ion-pane>
