<ion-pane>
  <ion-content
    scroll="false"
    ng-class="'timer-state-' + timer.currentState"
    on-tap="startTimer()"
    on-hold="stopTimer()"
    on-swipe-up="incrementTimer()"
    on-swipe-down="decrementTimer()"
  >

    <div id="timer-current-time">
      <span
        resize-text-to-fill
        ng-cloak
      >
        {{ timer.timeToDisplay | hhmmss }}
      </span>
    </div>

  </ion-content>

  <ion-footer-bar>
    <button ng-click="incrementTimer()" class="button button-icon icon ion-plus"></button>
    <button ng-click="decrementTimer()" class="button button-icon  icon ion-minus"></button>
    <div class="title">
      <button ng-click="toggleTimer()" ng-class="timer.isRunning ? 'ion-stop' : 'ion-play'" class="button button-icon icon"></button>
    </div>
    <button ui-sref="top.settings" class="button button-icon icon ion-gear-b"></button>
  </ion-footer-bar>

</ion-pane>
