
$timer-notifying-pulse-color: #f00 !default;
$timer-notifying-background-color: #faa !default;
$timer-alerting-pulse-color: black !default;
$timer-alerting-color: red !default;

@import "_timer.scss";

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

