#timer-current-time {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  @include center-content();
}

.timer-state-stopped {
}

.timer-state-running {
}


@keyframes notifying {
  0%   {}
  100% { background-color: $timer-notifying-pulse-color; }
}

.timer-state-notifying {
  background-color: $timer-notifying-background-color;
  text-shadow: 0 0 40px white;

  animation-name: notifying;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes alerting {
  0%   { background-color: white;}
  20%  { background-color: white;}
  30%  { background-color: $timer-alerting-pulse-color; }
  70%  { background-color: $timer-alerting-pulse-color; }
  80%  { background-color: white; }
  100% { background-color: white;}
}

.timer-state-alerting {
  color: $timer-alerting-color;

  animation-name: alerting;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer-state-alarming {

}


