<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>OmniRose Watch Timer</title>

    <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/timer.js"></script>

  </head>
  <body ng-app="WatchTimer">

    <ion-pane>
      <ion-content>
        <div ng-controller="TimerController">
          <button class="button button-icon icon ion-gear-b"></button>

          <button ng-hide="timer.isRunning" ng-click="timer.start()" class="button button-icon icon ion-play"></button>
          <button ng-show="timer.isRunning" ng-click="timer.stop()"  class="button button-icon icon ion-stop"></button>

          <div>b: <span>{{ timer.getFormattedTime() }}</span></div>
        </div>
      </ion-content>
    </ion-pane>

  </body>
</html>
