<!DOCTYPE html>
<html ng-jq="jQuery">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>OmniRose Watch Timer</title>

    <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services/timer.js"></script>


  </head>
  <body ng-app="WatchTimer">

    <ion-pane>
      <ion-content scroll="false">
        <div ng-controller="TimerController">

          <div
            id="timer-current-time"
            on-tap="timer.start()"
            on-hold="timer.stop()"
            on-swipe-up="timer.increment()"
            on-swipe-down="timer.decrement()"
          >
            <span
              resize-text-to-fill
              ng-cloak
            >
              {{ timer.getFormattedTime() }}
            </span>
          </div>

          <button class="button button-outline button-icon icon ion-gear-b"></button>
          <button ng-click="timer.toggle()" ng-class="timer.isRunning ? 'ion-stop' : 'ion-play'" class="button button-outline button-icon icon"></button>
          <button ng-click="timer.increment()" class="button button-icon button-outline icon ion-plus"></button>
          <button ng-click="timer.decrement()" class="button button-icon button-outline icon ion-minus"></button>


        </div>
      </ion-content>
    </ion-pane>

  </body>
</html>
